<!-- @if (product) { -->
<mat-card class="card">
        <mat-card-header>
            <mat-card-title class="card__title">{{ "XXXXXXXXXXX" }}</mat-card-title>
            <mat-card-subtitle>{{ "XXXXXXXXXXXXXX" }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="card__image" />

        <mat-card-content class="card__content">
            <p>
                {{ "XXXXXXXXXXXXXXXXX" }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" >
                Agregar al carrito
            </button>
        </mat-card-actions>
    </mat-card>
<!-- } -->
